@import url("modern-normalize");

body {
  background: black;
  color     : white;
  text-shadow: 0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 3px black,
    0 0 10px black;
  font-size  : 32px;
  font-family: Ubuntu, sans-serif;
}

.container>* {
  color: red;
}